
.grid {
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.grid div {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: mediumpurple;
}

.apple {
    background-color: rgb(39, 151, 39);

}

button {
    background-color: rgb(159, 215, 226);
    color: rgb(57, 68, 131);
    padding: .5rem;
}